*.GOB
*._*
*.DS_Store
Platforms/Alge-iPhone/DerivedData
Platforms/Alge-Android/AndroidManifest.xml
Platforms/Alge-Android/algeandroidapps.keystore
Platforms/Alge-Android/bin/*
Platforms/Alge-Gnat-macOS/obj/*
Platforms/Alge-Windows/Rules.txt
*.so
*.dex
*.dex.d
mApps/*
*xcuserdata*
*.o
*.o.d
.vs/*
