it
*.GOB#*
*._*
*.DS_Store
Platforms/Alge-iPhone/DerivedData
Platforms/Alge-Android/AndroidManifest.xml
Platforms/Alge-Android/algeandroidapps.keystore
Platforms/Alge-Android/bin/*
Platforms/Alge-Gnat-macOS/obj/*
Platforms/Alge-Windows/Rules.txt
Platforms/Alge-AndroidVS/obj/*
Platforms/Alge-Windows/GOB#*
*.so
*.dex
*.dex.d
mApps/*
*xcuserdata*
*xcshareddata*
*.o
*.o.d
.vs/*
GOB#*
