*.GOB
*._*
*.DS_Store
Platforms/Alge-iPhone/DerivedData
Platforms/Alge-Android/AndroidManifest.xml
Platforms/Alge-Android/algeandroidapps.keystore
Platforms/Alge-Android/bin/*
Platforms/Alge-Gnat-macOS/obj/*
Platforms/Alge-Windows/Rules.txt
*.so
*.dex
*.dex.d
mApps/*
*xcuserdata*
*xcshareddata*
*.o
*.o.d
.vs/*
GOB#*
Platforms/Alge-AndroidVS/obj/local/armeabi-v7a/objs/alge_app/device-app.o
Platforms/Alge-AndroidVS/obj/local/armeabi-v7a/objs/alge_app/device-app.o.d